<?php

// SVN Changelog: Online Viewer
// Authors: Tim Kosse, Bryan Petty

// Minimum and maximum changes per page hard limit.
define('CHANGELOG_MIN_PER_PAGE', 25);
define('CHANGELOG_MAX_PER_PAGE', 1000);

$changelogs[] = array(
	'title'		=> 'svnLogBrowser',
	'host'		=> 'localhost',
	'username'	=> '',
	'password'	=> '',
	'database'	=> '',
	'svn'		=> 'http://svn.svnlogbrowser.org',
	'pathsep'	=> '/', // Path separator as used on the SVN server.
	'viewvc'	=> '',
	'file_summary_limit' => 10,
	// These need to be relative to the *repository* root, not checkout!
	'trunk'		=> '/trunk',
	'tags'		=> '/tags',
	'branches'	=> '/branches',
	// These haven't been implemented yet...
	'bugs'		=> '',
	'patches'	=> ''
);

# These only need to be changed if you want to change the style.

$icons = array(
	'A' => '11-add.png',		# Added
	'D' => '11-delete.png',		# Deleted
	'M' => '11-pencil.png',		# Modified
	'R' => '11-page_copy.png',	# Copied

	'page_previous'	=> 'resultset_previous.png',
	'page_next'	=> 'resultset_next.png',
);

?>
